/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
*{
    -fx-font-family: "Courier New";
}
.barraMenu{
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #b5f2ea, #00d4ff);
}
.barraMenulateral{
    -fx-background-color: #78E3FD;
    -fx-border-color: #b9b9b9;
    -fx-border: solid;
    -fx-border-width: 5 0 5 0;
}
.backgroundmenu{
    -fx-background-color: #D1F5FF;
}
.titolFinestra{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
.labelInput{
    -fx-font-size: 15px;
}
.mainImage{
    -fx-border-color: #b9b9b9;
    -fx-border: solid;
    -fx-border-width: 5 0 5 0;
}
.inputForm{
        -fx-accent: -fx-primary-color;
	-fx-background-color: -fx-grey-color, white;
	-fx-background-insets: 0, 0 0 1 0;
	-fx-background-radius: 0;
        -fx-primary-color: #007acc;
	-fx-secondary-color: #4B6EAF;
	-fx-grey-color: #b9b9b9;
}
.inputForm:focused {
	-fx-background-color: -fx-primary-color, white;
}
.paneForm{
    -fx-background-color: #d1eaff;
}
.accentuar{
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #b5f2ea, #00d4ff);
    -fx-background-radius: 30;
    -fx-border-color:#4B6EAF;
    -fx-border-radius: 30;
}
.bigButton {
    -fx-background-color: 
        #a6b5c9,
        linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
        linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 7 30 7 30;
    -fx-text-fill: #242d35;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-text-fill: white;
}
.invisibleButton{
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-border: none;
    -fx-overflow: hidden;
    -fx-outline: none;
}
.ocupat{
    -fx-background-color: red;
}

.table-cell {     
    -fx-padding: 0.5em 0.5em 0.1em 0.3em;
    -fx-border-color: -fx-box-border -fx-box-border transparent transparent;  
    -fx-font: 13px "Segoe UI";    
    -fx-border-insets: 0;
}


.table-cell:hover {
    -fx-background-color: #9900ff;
}

 
.table-row-cell:empty, .table-cell:empty:hover {
    -fx-background-color: whitesmoke;
}
 

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

 
.table-view:row-selection .table-row-cell:filled:hover { 
    -fx-background-color: rgba(28, 183, 236, 0.25);
}


.table-view:row-selection .table-row-cell:filled:selected:hover { 
    -fx-background-color: rgba(228, 183, 236, 0.90);
}


.table-view:row-selection .table-row-cell:filled:selected { 
    -fx-background-color: rgba(28, 183, 236, 0.65);
}


.table-view, .table-view:focused {
  -fx-background-color: transparent,-fx-box-border,-fx-control-inner-background;
  -fx-background-insets: -1.4, 0, 1;
  -fx-background-radius: 1.4, 0, 0;
}
 

.table-view .column-header .label{
    -fx-text-fill: #52677A;
    -fx-alignment: CENTER;
}


.table-view .column-header:hover {
    -fx-background-color: whitesmoke;
}


.table-view .column-header, .table-view .filler {
    -fx-background-color: white;    
    -fx-size: 45;
    -fx-border-color: -fx-box-border;
    -fx-border-width: 0 1 3 0;
    -fx-border-insets: 0;
}


.table-view .column-header-background {
    -fx-background-color: transparent;
}


.table-view .show-hide-columns-button {
    -fx-background-color: white;
    -fx-border-color: -fx-box-border;
    -fx-border-insets: 0;
}